<div class="container">
<table class="table table-borderless">
<tr>
 <td><%= image_tag @user.get_profile_image(200,200) %></td>
 <td class="records">投稿</br><%= @user.records.count %></td>
 <td class="followings">フォロー数</br><%= @user.followings.count %></td>
 <td class="followers">フォロワー数</br><%= @user.followers.count %></td>
 <td>
 	<% unless current_user == @user %>
 	<% if current_user.following?(@user) %>
   <button type="button" class="btn btn-outline-secondary">
    <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
   </button>
  <% else %>
   <button type="button" class="btn btn-outline-primary">
    <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
   </button>
  <% end %>
  <% end %>
 </td>
</tr>
</table>
<table>
<tr>
 <th><%= @user.name %></th>
<tr>
<td>
<tr>
	<td><%= @user.introduction %></td>
</tr>
</table>
 <button type="button" class="btn btn-outline-secondary">
  <%= link_to "プロフィール編集", edit_user_path(@user) %>
 </button>
 <hr class="featurette-divider">
<div class="row">
<% @records.each do |record| %>
<div class="col-lg-4 col-md-6 mb-4">
 	<%= link_to record_path(record) do %>
    <%= image_tag record.get_image,size: '200x200' %>
  <% end %>
 </div>
<% end %>
</div>
</div>