<div class="container">
 <div class="center-block">
  <%= image_tag "home_top.png",size: '1000x500'%>
 </div>

<h3>いいねランキング</h3>
 <div class="row">
  <% @all_ranks.each.with_index(1) do |record,i| %>
   <div class="col-lg-4 col-md-6 mb-4">
    <h5>第<%= i %>位</h5>
　 <img class="rounded-circle">
    <%=image_tag record.get_image,size: '140x140' %>
    </img>
    <h5><%= record.shop_name %></h5>
    <p><%= record.name %></p>
    <div id="star-rate-<%= record.id %>"></div>
    <small class="text-muted"> ♡<%= record.likes.count %> いいね</small>
    <p> <%= link_to "記録詳細",record_path(record.id),class:"btn btn-sm btn-success" %></p>
    </div><!-- /.col-lg-4 -->
    <script>
  $('#star-rate-<%= record.id %>').raty({
   size: 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   half: true,
   readOnly: true,
   score: <%= record.rate %>,
   });
  </script>
  <% end %>
 </div>

<h4>!!NEW!!</h4>
 <div class="row">
   <% @records.each do |record| %>
  <div class="col-lg-4 col-md-6 mb-4">
　 <img class="rounded-circle">
    <%=image_tag record.get_image,size: '140x140' %>
    </img>
    <h4><%= record.name %></h4>
    <small class="text-muted"> ♡<%= record.likes.count %> いいね</small>
    <p> <%= link_to "記録詳細",record_path(record.id),class:"btn btn-sm btn-success" %></p>
  </div><!-- /.col-lg-4 -->
  <% end %>
 </div><!-- /.row -->

  <hr class="featurette-divider">
  <div class="row featurette">
   <div class="col-md-7">
   <h2 class="featurette-heading">ラーメン記録って？？ </h2>
    <p class="lead">
     色々な食のジャンルがある中でラーメンだけに特化させ、</br>
     食べたラーメンを記録し、残せるアプリとなっております。
    </p>
   </div>
   <div class="col-md-5">
    <%=image_tag "rogu.png",size: '200x200' %>
   </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
   <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">何が出来るの？？</h2>
    <p class="lead">
     ラーメン記録はSNS感覚で楽しみ、食べたを記録をしたり、日本中のラーメン愛好家さんたちとコミューケーションをとることができます。
    </p>
   </div>
   <div class="col-md-5 order-md-1">
    <%=image_tag "ramen-eat.png",size: '200x200' %>
   </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
   <div class="col-md-7">
    <h2 class="featurette-heading">記録することで何がいいの？？</h2>
    <p class="lead">
      過去に食べた記録をつける事により過去にどの店舗でどのラーメンを食べたかを忘れないで保存することができます。
      また、他のユーザーの投稿を見たり、コミュニケーションをとる事により新たな店舗やラーメン情報を発見することができます。
    </p>
   </div>
   <div class="col-md-5">
    <%=image_tag "top_icon3.png",size: '200x200' %>
   </div>
  </div>

    <hr class="featurette-divider">
 </div><!-- /.row -->
 </div><!-- /.container -->