<h1>投稿一覧</h1>
<% @records.each do |record| %>
<div class="card w-50 mx-auto mt-4">
 <div class="row no-gutters">
  <div class="col-lg-6">
   <%= link_to record_path(record) do %>
    <%= image_tag record.get_image,size: '200x200' %>
   <% end %>
  </div>
  <div class="col-lg-6">
  　<div class="card-body">
     <h4 class="card-title"><%= record.shop_name %></h4>
     <p class="card-text"><%= record.name %></p>
     <div id="star-rate-<%= record.id %>"></div>
     <small class="text-muted"> ♡<%= record.likes.count %> いいね</small>
     <small class="text-muted"> <%= record.created_at %></small>
    </div>
  </div>
 </div>
</div>
<script>
 $('#star-rate-<%= record.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= record.rate %>,
  });
</script>
<% end %>
