<h1>投稿一覧</h1>

<%= link_to new_record_path do %>
 <i class="fas fa-allergies"></i>新規登録
<% end %>
<% @records.each do |record| %>
<table>
 <tbody>
 <td>
  <%= link_to record_path(record) do %>
   <%= image_tag record.get_image %>
  <% end %>
 </td>
 <td>
  <%= record.created_at %>
 </td>
 <td>
  <%= record.shop_name %>
 </td>
 <td>
  <%= record.name %>
 </td>
 </tbody>
</table>
<% end %>