<div class= "container">
 <h4>詳細</h4>
 <div class= "row">
  <div class="col-lg-4">
   <%= image_tag @record.get_image, size: '300x300' %>
  </div>
  <div class="col-lg-8">
  <table class = "table table-borderless">
   <tbody>
    <tr>
     <td>日時</td>
     <td>
      <%= @record.date %>
     </td>
    </tr>

    <tr>
     <td>投稿ユーザー名</td>
     <td>
      <%= link_to @user.name,user_path(@user.id),class:"text-dark" %>
     </td>
     <td>
      <td>
     	<% unless current_user == @user %>
     	<% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete,class:"btn btn-secondary" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class:"btn btn-primary" %>
      <% end %>
      <% end %>
     </td>
    </tr>

    <tr>
     <td>店名</td>
     <td>
      <%= @record.shop_name%>
     </td>
    </tr>

    <tr>
     <td>メニュー名</td>
     <td>
      <%= @record.name%>
     </td>
    </tr>

    <tr>
     <td>ジャンル</td>
     <td>
      <%= @record.genre.name%>
     </td>
    </tr>

    <tr>
     <td>評価</td>
     <td>
      <div id="star-rate-<%= @record.id %>"></div>
     </td>
    </tr>

    <tr>
     <td>住所</td>
     <td>
      <%= @record.address %>
      <div id='map'></div>
     </td>
    </tr>

    <tr>
     <td>説明</td>
     <td>
      <%= @record.caption%>
     </td>
    </tr>

    <tr>
     <td>
      <% if @user == current_user %>
       <%= link_to "編集",edit_record_path(@record.id),class:"btn btn-sm btn-success" %>
      <% end %>
      <% if @user == current_user %>
       <%= link_to "削除",record_path(@record.id), method: :delete, "data-confirm" => "本当に消しますか？" ,class:"btn btn-sm btn-danger"%>
      <% end %>
     </td>
    </tr>

   </tbody>
  </table>
  </div>
  </div>
  <script>
 $('#star-rate-<%= @record.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @record.rate %>,
  });
</script>

<style>
#map {
  height: 300px;
  width: 400px;
}
</style>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @record.latitude %>,lng: <%= @record.longitude %>};

    map = new google.maps.Map(document.getElementById("map"), {
      center: test,
      zoom: 15,
    });

    var contentString = "住所：<%= @record.address %>";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position:  test,
      map: map,
      title: contentString
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>

  <div class = "row">
  <table class ="table">

    <tr>
     <td>コメント</td>
     <td>
      <%= render "user/comments/form", record: @record, comment: @comment %>
     </td>
    </tr>
  </table>

  <table class ="table">
    <tr>
     <td>いいね</td>
     <td class="like-btn" id="record_<%= @record.id %>"  ><%= render "user/likes/likes", record: @record %>
     </td>
     <td>コメント数</td>
     <td><%=link_to @record.comments.count,record_comments_path(@record.id) %></td>
    </tr>
  </table>
  </div>
</div>
