<h1>投稿詳細</h1>

<table>
 <tbody>
  <tr>
   <td>
    <%= image_tag @record.get_image %>
   </td>
   <td>
    <%= @record.created_at %>
   </td>
   <td>
    <%= @record.shop_name%>
   </td>
   <td>
    <%= @record.name%>
   </td>
   <td>
   </td>
   <td>
    <%= @record.review%>
   </td>
   <td>
    <%= render "user/comments/form", record: @record, comment: @comment %>
   </td>
   <td>
    <%= render "user/comments/comments", record: @record, comment: @comment, comments: @comments%>
   </td>
   <td>
    <%= render "user/likes/likes", record: @record %>
   </td>
   <td>
   </td>
  </tr>
 </tbody>
</table>
<%= link_to "編集する",edit_record_path(@record.id),class:"btn btn-sm btn-success" %>